{% extends 'blog/base.html' %}
{% block content %} 
    {% for job in job_posts %}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ job.author }}</a>
                <small class="text-muted">{{ job.date_posted|date:"F d, Y"  }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'job' job.id %}">{{ job.title }}</a></h2>
            <p class="article-content">{{ job.content }}</p>
            </div>
        </article>
    {% endfor %} 
{% endblock content %}