{% extends 'blog/base.html' %} {% block content %} {% for post in posts %}
<div class="mb-20">
<article class="media content-section">
  <section class="d-flex justify-content-start align-items-md-center">
    <img
      class="rounded-circle article-img"
      src="{{ post.author.profile.image.url }}"
    />
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'users-profile' post.author.id %}"
        >{{ post.author }}</a
      >
      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
    </div>
  </section>

  <!-- Article Body -->
  <div class="media-body">
    <h2>
      <a class="article-title" href="{% url 'post-detail' post.pk %}"
        >{{ post.title }}</a
      >
    </h2>
    <p class="article-content">{{ post.content }}</p>
  </div>

  <!-- Count of like and comment -->
  <div class="text-sm text-muted">
    <small>{{post.get_likes.count}} Likes</small>
    <small>{{post.comments.count}} Comments</small>
  </div>

  <!-- Like And Comment -->
  <div class="d-flex align-items-md-center">
    {% if post.liked_by_cur_user %}
    <a class="btn" href="{% url 'post-like' post.id %}"
      ><i class="fa-solid fa-thumbs-up"></i
    ></a>
    {% else %}
    <a class="btn" href="{% url 'post-like' post.id %}"
      ><i class="fa-regular fa-thumbs-up"></i
    ></a>
    {% endif %}
    <button class="no-btn"><i onclick="toggleComment('{{post.id}}')" class="fa-regular fa-comment"></i></button>
  </div>

  <form id="comment-form-{{post.id}}" method="POST" action="{% url 'blog-home' post.id %}" class="comment-form container">
    {% csrf_token %}
    <div class="row mb-1">
      <img class="rounded-circle comment-img col-2"
      src="{{ user.profile.image.url }}"
      />
      <input type="text" class="col-8" name="comment" placeholder="Add a comment" />
      <button type="submit" class="mx-2 btn btn-sm btn-dark col-1">Post</button>
    </div>
  </form>
</article>
  <!-- All Posts comments -->
  {% if post.comments %}
  <div id="comment-all-{{post.id}}" class="comment-all border p-2 mb-20">
    <h6>Comments</h4>
      {% for comment in post.comments.all %}
      <div class="row">
        <img class="rounded-circle comment-img col-2"
      src="{{ comment.author.profile.image.url }}"
      />
        <section class="col-10 bg-gray">
          <a href="{% url 'users-profile' comment.author.id %}">{{ comment.author.username }}</a>
          <div class="row">
            <div class="col-10">
              <p>{{ comment }}</p>
            </div>
            <div class="col-2">
              <small class="text-muted">{{ comment.date_posted|timesince  }}</small>
            </div>
          </div>
          </section>
      </div>
      {% endfor %}
  </div>
  {% endif %}
</div>
{% endfor %} {% endblock content %}
