{% extends 'blog/base.html' %} {% block content %}
<h1>Posts by {{ view.kwargs.username }} ({{ posts.count }})</h1>
{% for post in posts %}
<div class="mb-20">
  <article class="media content-section">
    <section class="d-flex justify-content-start align-items-md-center">
      <img
        class="rounded-circle article-img"
        src="{{ post.author.profile.image.url }}"
      />
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'users-profile' post.author.id %}"
          >{{ post.author }}</a
        >
        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
      </div>
    </section>

    <!-- Article Body -->
    <div class="media-body">
      <h2>
        <a class="article-title" href="{% url 'post-detail' post.pk %}"
          >{{ post.title }}</a
        >
      </h2>
      <p class="article-content">{{ post.content }}</p>
    </div>

    <!-- Count of like and comment -->
    <div class="text-sm text-muted">
      <small>{{post.get_likes.count}} Likes</small>
      <small>{{post.comments.count}} Comments</small>
    </div>
  </article>
</div>
{% endfor %}
{% endblock content %}
